theme "catppuccin-mocha-dattito"
mouse_mode true
pane_frames false

keybinds {
    normal clear-defaults=true {
        bind "Ctrl b" { SwitchToMode "Tmux"; }
        bind "´" { SwitchToMode "Tmux"; }

        bind "Ctrl h" "Alt Left" { MoveFocusOrTab "Left"; }
        bind "Ctrl l" "Alt Right" { MoveFocusOrTab "Right"; }
        bind "Ctrl j" "Alt Down" { MoveFocus "Down"; }
        bind "Ctrl k" "Alt Up" { MoveFocus "Up"; }
        bind "Ctrl t" { ToggleFloatingPanes; }
        bind "Alt +" { Resize "Increase"; }
        bind "Alt -" { Resize "Decrease"; }
    }

    tmux clear-defaults=true {
        bind "Ctrl b" { Write 2; SwitchToMode "Normal"; }
        bind "Esc" { SwitchToMode "Normal"; }
        bind "x" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "y" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "n" { NewPane; SwitchToMode "Normal"; }
        bind "g" { SwitchToMode "Locked"; }
        bind "d" { Detach; }
        bind "p" { SwitchToMode "Pane"; }
        bind "t" { SwitchToMode "Tab"; }
        bind "h" { SwitchToMode "Resize"; }
        bind "m" { SwitchToMode "Move"; }
        bind "s" { SwitchToMode "Scroll"; }
        bind "z" { SwitchToMode "Search"; }
        bind "w" { SwitchToMode "Session"; }
        bind "c" { NewTab; SwitchToMode "Normal"; }
        bind "1" { GoToTab 1; SwitchToMode "Normal"; }
        bind "2" { GoToTab 2; SwitchToMode "Normal"; }
        bind "3" { GoToTab 3; SwitchToMode "Normal"; }
        bind "4" { GoToTab 4; SwitchToMode "Normal"; }
        bind "5" { GoToTab 5; SwitchToMode "Normal"; }
        bind "6" { GoToTab 6; SwitchToMode "Normal"; }
        bind "7" { GoToTab 7; SwitchToMode "Normal"; }
        bind "8" { GoToTab 8; SwitchToMode "Normal"; }
        bind "9" { GoToTab 9; SwitchToMode "Normal"; }
        bind "q" { CloseFocus; SwitchToMode "Normal"; }
    }
}

plugins {
    // tab-bar { path "tab-bar"; }
    // status-bar { path "status-bar"; }
    // strider { path "strider"; }
    // compact-bar { path "compact-bar"; }
    session-manager { path "session-manager"; }
}

themes {
  catppuccin-mocha-dattito {
    bg "#585b70" // Surface2
    fg "#cdd6f4"
    red "#f38ba8"
    green "#bac2de"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#181825" // Mantle
    white "#cdd6f4"
  }
}
