.DS_Store
btop
configstore
containers
filezilla
gh
github-copilot
heroic
htop
iterm2
legendary
synadm.yaml
thefuck
tmux
yarn
JetBrains
argocd
create-next-app-nodejs
nextjs-nodejs
dlv
go
helm
mimeapps.list
wslu
gcloud
broot
gcloud
lazysql
jgit
zed
.config/zed/settings.json
