.DS_Store
btop
configstore
containers
filezilla
gh
github-copilot
heroic
htop
iterm2
karabiner
legendary
nvim
synadm.yaml
thefuck
tmux
yarn
JetBrains
argocd
create-next-app-nodejs
nextjs-nodejs
dlv
go
helm
k9s

