layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:~/.config/zellij/plugins/zjstatus.wasm" {
                #format_left  "#[fg=#cdd6f4]{session} {mode} {tabs}"
                format_left  "{tabs}"
                format_right "{mode}"
                format_space ""

                hide_frame_for_single_pane "false"
                
                mode_normal ""
                mode_locked "#[fg=black,bg=#f38ba8,bold] {name} "
                mode_resize "#[fg=black,bg=#94e2d5,bold] {name} "
                mode_pane "#[fg=black,bg=#89dceb,bold] {name} "
                mode_move "#[fg=black,bg=#89b4fa,bold] {name} "
                mode_tab "#[fg=black,bg=#fab387,bold] {name} "
                mode_scroll "#[fg=black,bg=#a6e3a1,bold] {name} "
                mode_search "#[fg=black,bg=#f9e2af,bold] {name} "
                mode_entersearch "#[fg=black,bg=#eba0ac,bold] {name} "
                mode_renametab "#[fg=black,bg=#f2cdcd,bold] {name} "
                mode_renamepane "#[fg=black,bg=#f5c2e7,bold] {name} "
                mode_session "#[fg=black,bg=#74c7ec,bold] {name} "
                mode_tmux ""


                tab_normal   "#[fg=#cdd6f4] {name} "
                tab_active   "#[bg=#9399b2,fg=#313244,bold] {name} "
            } 
        }
    }
}
